* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}
.container {
    height: 80vh;
    width: 100vw;
    display: grid;
  
    place-items: center;
}
table{
    box-shadow: 5px 10px grey;
}
table,td{
    margin: auto;
    border:200px;
    border-collapse:collapse;
    background-color:#c4dfde;
    border-radius: 5vh;
 
    }
    td{
    padding:15px;
    border-color:black;
    margin:200px;
    gap: 0.75rem;
   
    }
    input[type="button"]
    {
    border-radius:60px;
    background-color:#736e7567;
    color:rgb(9, 9, 9);
    border-color:#121114 ;
    width:100%;font-size:200%;
    }
    input[type="text"]
    {
    border-radius: 150px;
    text-align: center;
    background-color:#73756e67;
    border-color: black ;
    width:100%;font-size:180%;
    }